:root{
  --bg:#0F1115;
  --surface:#1A1D23;
  --surface-light:#232833;

  --primary:#38D973;
  --primary-hover:#2CC866;

  --text:#FFFFFF;
  --text-secondary:#A7AFBC;

  --danger:#FF5A5F;
  --warning:#FFB020;
  --border:#2B313B;

  --radius-xl:28px;
  --radius-lg:22px;
  --radius-md:18px;
  --radius-sm:12px;

  --space-xs:8px;
  --space-sm:12px;
  --space-md:18px;
  --space-lg:24px;
  --space-xl:32px;

  --shadow:0 10px 35px rgba(0,0,0,.35);
  --transition:.25s ease;
}
